* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

.allergy,
.gf {
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 500px) {
  .allergy,
  .gf {
    width: 18px;
    height: 18px;
  }
}

.cart-page {
  /* background-color: black;
  color: white; */
  width: 400px;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 1.5rem;
}

@media screen and (max-width: 500px) {
  .cart-page {
    top: 14%;
    bottom: 0;
    left: 0;
    right: 0;
    row-gap: 0;
  }
}
.cart-header {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.cart-main {
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  gap: 1rem;
}

.cart-bottom {
  width: 100%;
  text-align: end;
  border-top: 1px solid white;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cart-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cart-list-item {
  font-size: 0.9rem;
  display: grid;
  grid-template-columns: 3fr 0.2fr 0.4fr;
  gap: 0.4rem;
}

.cart-item-count {
  font-size: 0.7rem;
}

.cart-total > p:first-child {
  font-weight: bold;
}
