* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100vw;
}

a {
  text-decoration: none;
  color: black;
}

.allergy,
.gf {
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 500px) {
  .allergy,
  .gf {
    width: 18px;
    height: 18px;
  }

  /* .Order-Summary {
    display: none;
  } */
}

.Category-Tabs {
  background-color: #fff;
  z-index: 100;
  position: sticky;
  top: 50px;
  height: 50px;
}

.Menu-And-Order {
  width: 100%;
}

.Order-Summary {
  width: 30%;
}

.cart-bottom {
  width: 100%;
  text-align: end;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cart-item-count {
  font-size: 0.7rem;
}

.cart-total > p:first-child {
  font-weight: bold;
}
